*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/waves-background.svg');
    background-position: center;
    background-size: cover;
}
.bg-default{
    background-image: url('../img/default.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}